
.about a{
  color: wheat;
}
.about a:hover{
  color: #D2BD97;
}

.about{
  position: relative;
  width: 100%;
  margin: 50px auto;
  border-left: 30px solid slateblue;
  box-shadow: 0 0 5px snow;
  padding: 20px;
  background-color: rgb(50, 50, 50);

  color: snow;
  text-align: left;
  overflow: hidden;

}
@media (min-width: 720px){
  .about{
    height: 100%;
    margin: 80px auto 60px 100px;
    border-left: 30px solid wheat;
    border-radius: 3px;
    padding: 30px 50px;
    font-size: large;
  }
}