
.main-gallery{
  padding: 5px;
}

.btnLoadmore{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  margin: 100px auto;
  border: 1px solid snow;
  border-radius: 5px;
  background-color: #585858;
  color: snow;
  opacity: 0.1;
  clear: both;
}

.btnLoadmore[disabled]{
  display: block;
  clear: both;
  opacity: 0.5;
  cursor: not-allowed;
  margin: 100px auto;
}
