
.not-found{
  border: 0px solid red;
  padding: 70px;
  font-size: x-large;
  text-align: center;
}

.material-icons.md-36 { font-size: 36px; }

.navi-block{
  width: 120px;
  margin: 20px auto;
  border: 1px solid wheat;
  padding: 5px;
  border-radius: 10px;
  transition: all 800ms;
}
.navi-block:hover{
  border: 1px solid grey;
}

.icon-navi{
  display: inline-block;
  margin-top: 10px;
  border-bottom: 1px solid snow;
  color: wheat;
  cursor: pointer;
  transition: all 800ms;
}
.icon-navi:hover{
  color: grey;
  border-bottom: 1px solid wheat;
}